body {
    background-color: orange;
    font-family: Arial, "Times New Roman", serif;
}
/* Sets background color for all pages on website */

#home-title {
    text-align: center;
    color: rgb(97, 56, 245);
}

.recipe-list, .recipe-links li {
    text-align: center;
    list-style: none;
    background-color: aqua;
    padding: 20px 0;
    /* spaces lines apart */
}

.recipe-list {
    max-width: 400px;
    margin: 0 auto;
    border-style: solid;
    border-color: red;
}

.recipe-links a, .recipe-links img {
    display: block;
    margin: 0 auto;
}

.recipe-links img {
    margin-top: 10px;
}


.card p {
    margin: 0px;
}

div.card {
    border-style: solid;
    border-color: red;
    text-align: center;
    margin: 10px auto;
    width: 800px;
}

.card .poutine-card {
    background-color: yellow;
}

.card .lasagna-card {
    background-color: rgb(250, 131, 84);
}

.card .macaroon-card {
    background-color: brown;
}

div ul,
div ol {
    display: inline-block;
    text-align: left;
}
/* centers lists in recipe pages */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0px;
}
/* Removes top margin so background-color can fill entire card */